/*inizio header*/
header{
background-color:rgb(45, 209, 238);

}
#logo-pic{
    height: 50px;
}
.text-grey{
    color: gray;

}
.text-bold{
    font-weight: bold;
}
.table-heading{
    background-color: aquamarine;
}
.text-blu{
    color: aqua;
}


/*fine header*/